#main{
    padding: 1%;
    border: 1px dashed #c3c3c3;
    width: 60%;
    margin: auto;
}
#main h2{
    font-size: 1.3rem;
    text-transform: uppercase;
    animation: changeColor 1s ease-in-out infinite;
}
@-webkit-keyframes changeColor{
    0%{color: #00f;}
    10%{color: #f00;}
    30%{color: rgb(60, 255, 0);}
    50%{color: rgb(255, 230, 0);}
    70%{color: rgb(255, 0, 157);}
    90%{color: rgb(0, 0, 3);}
    100%{color: rgb(0, 195, 255);}
}
/* circular animation */
#main .outerCircle{
    padding: 2%;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    border: 16px solid #c3c3c3;
    border-top: 16px solid rgb(255, 0, 170);
    border-bottom: 16px solid turquoise;
    border-right: 16px solid rgb(255, 208, 0);
    border-left: 16px solid rgb(0, 252, 21);
    animation: outerCircle 2s ease-in infinite;
}
#main .innerCircle{
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    border: 12px solid #c3c3c3;
    border-top: 12px solid rgb(255, 0, 170);
    border-bottom: 12px solid turquoise;
    border-right: 12px solid rgb(255, 208, 0);
    border-left: 12px solid rgb(0, 252, 21);
    animation: innerCircle 2s ease-in infinite;
}
@-webkit-keyframes outerCircle{
    0%{transform: rotate(0deg);}
    0%{transform: rotate(360deg);}
}
@-webkit-keyframes innerCircle{
    0%{transform: rotate(0deg);}
    20%{transform: rotate(100deg);}
    50%{transform: rotate(200deg);}
    100%{transform: rotate(360deg);}
}

/* bar animation */
#main .bar{
    margin: 2% auto 0% auto;
    width: 80%;
    border: 2px solid #00f;
    border-radius: 5px;
    height: 30px;
}
#main .bar .loader{
    border-radius: 4px;
    background: #f00;
    height: 100%;
    animation: load 5s ease-in-out infinite;
    float: left;
}
@-webkit-keyframes load{
    0%{width: 1%;}
    10%{width: 11%;}
    20%{width: 21%;}
    30%{width: 31%;}
    40%{width: 41%;}
    50%{width:51%;}
    60%{width:61%;}
    70%{width:71%;}
    80%{width:81%;}
    90%{width:91%;}
    100%{width:100%;}
}
.cake{
    width: 60%;
    margin: auto;
    margin-top: 2%;
}
.cake .layer1{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(255, 0, 43);
}

.cake .ice{
    background: rgb(241, 22, 59);
    width: 20%;
    height: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.cake .body{
    width: 20%;
    height: 50px;
    background: rgb(110, 18, 18);
}
.cake .layer2{
    width: 25%;
}
.cake .layer3{
    width: 40%;
}
.cake .layer4{
    width: 80%;
}
.cake .bottom{
    width: 100%;
    height: 20px;
    background: #c3c3c3;
}
.cake .body{
    padding-top: 4%;
    color: #fff;
    font-weight: bold;
    animation: change 1s ease infinite;
}

